header {
    border: 5px dashed red;
    height: 100px;
  

    background-color: aqua;
    background-image: url(https://yt3.googleusercontent.com/ytc/AL5GRJUUOa0zwnz4BmrdAe0ZvJIGxbS8b62t-AFMz_4sFw=s900-c-k-c0x00ffffff-no-rj);
}